@{
    ViewData["Title"] = "Property";
}
<h2>@ViewData["Title"].</h2>

    public ViewResult Property()<br />
    {<br />
    Product myProduct = new Product();<br />
    myProduct.Name = "Jakup";<br />
    <br />
    ViewData["Name"] = String.Format("Product name: {0}", myProduct.Name);<br />
    return View();<br />
    }<br />

    // create a new Product object<br />
    Product myProduct = new Product();<br />
    // set the property value<br />
    myProduct.Name = "Jakup";<br />
    <br />
    // generate the view<br />
    ViewData["Name"] = String.Format("Product name: {0}", myProduct.Name);<br />
    <br />
    PASSED DATA:<br />
    <br />
    @ViewData["name"];